* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background-image: url(https://images.alphacoders.com/100/1006753.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.content-box {
  width: 65%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.content-box h1 {
  font-size: 64px;
  margin: 10px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  font-weight: lighter;
}

.content-box h3 {
  font-size: 48px;
  margin: 10px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  font-weight: lighter;
}

.search-container {
  display: flex;
}

#search-field {
  margin: 10px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 22px;
  color: black;
}

#search-btn {
  margin: 10px;
  height: 60px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: #016fb7;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.name {
  font-size: 48px;
  color: #0071c5;
}

.tmp {
  font-size: 64px;
  color: #0071c5;
}

.max {
  font-size: 36px;
  color: #34a5dd;
}

.min {
  font-size: 36px;
  color: #34a5dd;
}

.description {
  font-size: 48px;
  color: #0071c5;
}

.tmps-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-box p {
  margin: 30px;
}
